.ownerContainer {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.ownerContainer h1{
    margin-left: 1rem;
}

.aboutContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(46, 46, 46, 0.836);
    padding: 4rem;
}

.owner {
    height: 300px;
    width: 250px;
    object-fit: cover;
    border: 1px solid black;
}

.aboutText{
    color: white;
    font-size: 1.5rem;
    width: 50%;
    border: dashed white 3px;
    padding: 2rem;
}